@{
    ViewBag.Title = "MasterTables";
}

<div style="left:30px;position:relative;">
    <h3>Download Master Tables</h3>
    <table>
        <tr>
            <td>
              <input type="submit" value="Download" name="Download"></input>
            </td>
        </tr>
    </table>
</div>
